---
import Navbar from '@/components/navbar.vue'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
  description?: string
}

const {
  title,
  description = 'Azhar is a very talented Front End Developer with 4.5 years experience building highly scalable web app'
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta property="og:title" content={title} />
    <meta
      property="og:image"
      content="https://avatars.githubusercontent.com/u/57862105"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main>
      <Navbar client:load />
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html {
    font-family: 'Figtree', system-ui, sans-serif;
    background: #fcfcfc;
    scroll-behavior: smooth;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
